<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Editar manutenção</h1>
    <form action="/manutencao/atualizar" method="POST">
        <input type="hidden" name="id" value="{{ manutencao[0] }}">
        <label for="nome">Nome do proprietário</label>
        <input type="text" name="nome" id="nome" value="{{ manutencao[1] }}">
        <br>
        <label for="placa">Placa do veículo</label>
        <input type="text" name="placa" id="placa" value="{{ manutencao[2] }}">
        <br>
        <label for="data">Data da manutenção</label>
        <input type="date" name="data" id="data" value="{{ manutencao[3] }}">
        <br>
        <label for="tipo">Tipo de manutenção</label>
        <input type="text" name="tipo" id="tipo" value="{{ manutencao[4] }}">
        <br>
        <label for="valor">Valor da manutenção</label>
        <input type="number" name="valor" id="valor" value="{{ manutencao[5] }}">
        <br>
        <label for="observacoes">Observações</label>
        <textarea name="observacoes" id="observacoes" cols="30" rows="10">{{ manutencao[6] }}</textarea>
        <br>
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
    </form>
</body>
</html>