<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Manutenções</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do proprietário</th>
                <th>Placa do veículo</th>
                <th>Data da manutenção</th>
                <th>Tipo de manutenção</th>
                <th>Valor da manutenção</th>
                <th>Observações</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for manutencao in manutencoes %}
            <tr>
                <td>{{ manutencao[1] }}</td>
                <td>{{ manutencao[2] }}</td>
                <td>{{ manutencao[3] }}</td>
                <td>{{ manutencao[4] }}</td>
                <td>{{ manutencao[5] }}</td>
                <td>{{ manutencao[6] }}</td>
                <td>
                    <a href="/manutencao/visualizar/{{ manutencao[0] }}">Visualizar</a>
                    <a href="/manutencao/editar/{{ manutencao[0] }}">Editar</a>
                    <a href="/manutencao/excluir/{{ manutencao[0] }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/manutencao/limpar'">Limpar</button>
</body>
</html>